/* Reset some default styles */
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Add this to your styles.css */
.logo {
    text-align: center;
    margin-top: 10px; 
    background:#333333;
}
/* Update the styles for .logo-image */
.logo-image {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    display: inline-block;
    vertical-align: middle;
    filter: grayscale(100%) invert(100%);
    float: left; /* Add this line to float the image to the left */
   
}


.logo-text {
    font-family: monospace;
    font-size: 36px;
    color: white;
    letter-spacing: 8px; /* Adjust character gap */
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

    .logo-text::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.2); /* Grey overlay color */
        opacity: 0;
        z-index: -1;
        transition: opacity 0.3s;
    }

    .logo-text:hover::before {
        opacity: 1;
    }




h1 {
    font-size: 36px;
    color: #fff;
    font-family: 'Arial', sans-serif; 
    margin-bottom: 20px;
}


nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    border-bottom: 3px solid #ff9900;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            display: inline-block;
            margin-right: 15px;
        }

            nav ul li a {
                color: #fff;
                text-decoration: none;
                transition: color 0.3s;
            }

                nav ul li a:hover {
                    color: #ff9900;
                }



/* Content Styles */
.content {
    background-color: #f5f5f5; 
    padding: 20px;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
}


/* Add more custom styles as needed */
